DBMS (dataBase Management system)

In [3]:
# Connect
# Cursor
# Execute
# Commit

In [4]:
import sqlite3

In [5]:
db = sqlite3.connect('studentdabase.db')

In [7]:
db

In [8]:
cur = db.cursor()

In [14]:
cur.execute('create table st_data(id int primary key, name text , marks int)')

In [32]:
cur.execute('insert into st_data(id,name,marks) values(1,"sarthak",99)')

In [33]:
db.commit()

In [34]:
db

In [37]:
cur.execute('insert into st_data(id,name,marks) values(7,"john",87)')

In [36]:
db.commit()

In [24]:
cur.execute('insert into st_data(id,name,marks) values(3,"harry",97)')

In [25]:
db.commit()

In [26]:
cur.execute('insert into st_data values(4,"jos",67)')

In [27]:
db.commit()

In [28]:
db

In [40]:
data1 = cur.execute('select * from st_data')

In [41]:
for i in data1:
    print(i)

(2, 'john', 87)
(3, 'harry', 97)
(4, 'jos', 67)
(1, 'sarthak', 99)
(7, 'john', 87)

In [42]:
cur.execute('insert into st_data values(6,"michel",88)')

In [44]:
db.commit()

In [45]:
db

In [46]:
alldata = cur.execute('select * from st_data')

In [48]:
alldata.fetchall()

[(2, 'john', 87),
 (3, 'harry', 97),
 (4, 'jos', 67),
 (1, 'sarthak', 99),
 (7, 'john', 87),
 (6, 'michel', 88)]

In [49]:
seldata = cur.execute('select * from st_data where id = 1')

In [50]:
seldata.fetchone()

(1, 'sarthak', 99)

In [70]:
#CREATING USER DATA TABLE

In [71]:
''' Database = userdb
    table = facebook
'''

' Database = userdb\n    table = facebook\n'

In [52]:
userdb = sqlite3.connect('userdata.db')

In [53]:
cursor = userdb.cursor()

In [54]:
cursor

In [55]:
cursor.execute('create table facebook(userid int primary key,username text,password complex)')

In [56]:
userdb.commit()

In [57]:
userdb

In [59]:
cursor.execute('insert into facebook(userid,username,password) values(3624,"nick","nick@43")')

In [60]:
userdb.commit()

In [61]:
userdb

In [62]:
cursor.execute('insert into facebook(userid,username,password) values(8126,"jos","jb.82@josh")')

In [63]:
userdb.commit()

In [64]:
userdb

In [65]:
cursor.execute('insert into facebook(userid,username,password) values(5648,"michel","michel@24")')

In [67]:
userdb.commit()

In [68]:
userdb

In [72]:
cursor.execute('insert into facebook values(9932,"tom","fb_tom@76")')

In [73]:
userdb.commit()

In [74]:
userdb

In [76]:
cursor.execute('insert into facebook values(3189,"paul","ui.paul/fb"),(5629,"roman","us@roman99")')

In [77]:
userdb.commit()

In [78]:
userdb

In [79]:
alldata = cursor.execute('select * from facebook')

In [80]:
for i in alldata:
    print(i)

(3624, 'nick', 'nick@43')
(8126, 'jos', 'jb.82@josh')
(5648, 'michel', 'michel@24')
(9932, 'tom', 'fb_tom@76')
(3189, 'paul', 'ui.paul/fb')
(5629, 'roman', 'us@roman99')

In [81]:
alldata = cursor.execute('select * from facebook where userid=3189')

In [82]:
alldata.fetchone()

(3189, 'paul', 'ui.paul/fb')

In [83]:
alldata = cursor.execute('select password from facebook')

In [85]:
alldata.fetchall()

[('jb.82@josh',),
 ('michel@24',),
 ('fb_tom@76',),
 ('ui.paul/fb',),
 ('us@roman99',)]

In [87]:
alldata = cursor.execute('select password from facebook')

In [88]:
alldata.fetchone()

('nick@43',)

In [89]:
alldata = cursor.execute('select password from facebook where username in ("jos","paul","michel")')

In [90]:
alldata.fetchall()

[('jb.82@josh',), ('michel@24',), ('ui.paul/fb',)]

In [91]:
alldata = cursor.execute('select * from facebook where userid in (3624,9932,3189)')

In [92]:
alldata.fetchall()

[(3189, 'paul', 'ui.paul/fb'),
 (3624, 'nick', 'nick@43'),
 (9932, 'tom', 'fb_tom@76')]

In [94]:
alldata = cursor.execute('select * from facebook order by userid')

In [96]:
alldata.fetchall()

[(3189, 'paul', 'ui.paul/fb'),
 (3624, 'nick', 'nick@43'),
 (5629, 'roman', 'us@roman99'),
 (5648, 'michel', 'michel@24'),
 (8126, 'jos', 'jb.82@josh'),
 (9932, 'tom', 'fb_tom@76')]

In [97]:
alldata = cursor.execute('select * from facebook order by username asc')

In [98]:
alldata.fetchall()

[(8126, 'jos', 'jb.82@josh'),
 (5648, 'michel', 'michel@24'),
 (3624, 'nick', 'nick@43'),
 (3189, 'paul', 'ui.paul/fb'),
 (5629, 'roman', 'us@roman99'),
 (9932, 'tom', 'fb_tom@76')]

In [99]:
alldata = cursor.execute('select * from facebook order by userid asc')

In [100]:
alldata.fetchall()

[(3189, 'paul', 'ui.paul/fb'),
 (3624, 'nick', 'nick@43'),
 (5629, 'roman', 'us@roman99'),
 (5648, 'michel', 'michel@24'),
 (8126, 'jos', 'jb.82@josh'),
 (9932, 'tom', 'fb_tom@76')]

In [101]:
alldata = cursor.execute('select * from facebook order by username')

In [1]:
alldata.fetchall()

NameError: name 'alldata' is not defined

In [ ]:
db=sqlite