In [1]:
import sqlite3

In [21]:
db=sqlite3.connect("stockdata.db")

In [22]:
cur=db.cursor()

In [30]:
def tata1(db,info):
    cur=db.cursor()
    cur.execute('insert into tata1 (date,open,high,low,Last,close,tradeqnt,turnover) values(?,?,?,?,?,?,?,?)',info)

In [31]:
info = ('10/07/13',154.2,160.2,158.25,164,162,1880046,2688.94)

In [32]:
data = cur.execute("select * from tata1 where date='10/07/13'")

In [33]:
tata1(db,info)

In [34]:
data= cur.execute("select * from tata1 where date='10/07/13'")

In [35]:
data.fetchone()

('10/07/13', 154.2, 160.2, 158.25, 164.0, 162.0, 1880046, 2688.94)

In [36]:
info = ('10/06/13',159.9,157.2,154.75,166,158.1,1883046,2698.77)

In [37]:
tata1(db,info)

In [45]:
data = cur.execute("select * from tata1 where date='10/06/13'")

In [46]:
data.fetchone()

('10/06/13', 159.9, 157.2, 154.75, 166.0, 158.1, 1883046, 2698.77)