# DBMS

In [1]:
import sqlite3

# create database
(Connect,curser,execute,commit)

Connect

In [2]:
db= sqlite3.connect('student_detail_database21Aug.db')
db

create curser

In [3]:

cur=db.cursor()
db

execute

In [4]:
cur.execute('create table student(id int primary key,name text,marks int)')

OperationalError: table student already exists

In [ ]:
cur.execute("insert into student(id,name,marks) values(101,'john',80)")

commit

In [5]:
db.commit()

In [9]:

cur.execute("insert into student values(102,'jack',75)")
db.commit()

IntegrityError: UNIQUE constraint failed: student.id

In [7]:
cur.execute("insert into student(id,name,marks) values(103,'Dorsay',55)")
db.commit()

IntegrityError: UNIQUE constraint failed: student.id

In [ ]:
results=cur.execute("select * from student")

for i in results:
    print(i)

In [ ]:
cur.execute("insert into student(id,name,marks) values(104,'sarthak',78)")
db.commit()

In [ ]:
cur.execute("insert into student values(105,'Grey',90),(106,'Richard',55),(107,'Branson',95)")

db.commit()