In [21]:
import sqlite3

In [31]:
db= sqlite3.connect('emdabase.db')

create cursor

In [32]:
cur=db.cursor()

In [33]:
cur.execute('create table em(id int primary key,name text,marks int)')

In [34]:
cur.execute("insert into em(id,name,marks) values(101,'John',80)")

In [35]:
db.commit()

In [36]:
cur.execute("insert into em(id,name,marks) values(103,'Dorsay',55)")

db.commit()

In [37]:
cur.execute("insert into em(id,name,marks) values(104,'Swapnil',78)")

db.commit()

In [38]:
results=cur.execute("select * from em")

for i in results:
    print(i)

(101, 'John', 80)
(103, 'Dorsay', 55)
(104, 'Swapnil', 78)

In [39]:
print(cur)

<sqlite3.Cursor object at 0x00000222782AD260>

In [43]:
cur.execute("insert into em values(22,'Sanjay',59),(119,'Sonya',69)")
db.commit()

In [44]:
results=cur.execute("select * from em")

for i in results:
    print(i)

(101, 'John', 80)
(103, 'Dorsay', 55)
(104, 'Swapnil', 78)
(107, 'Sushil', 73)
(108, 'Sanket', 79)
(109, 'Sayali', 88)
(22, 'Sanjay', 59)
(119, 'Sonya', 69)

Fetchall

In [45]:
results=cur.execute("select * from em")

results.fetchall()

[(101, 'John', 80),
 (103, 'Dorsay', 55),
 (104, 'Swapnil', 78),
 (107, 'Sushil', 73),
 (108, 'Sanket', 79),
 (109, 'Sayali', 88),
 (22, 'Sanjay', 59),
 (119, 'Sonya', 69)]

In [46]:
results=cur.execute("select id from em")

for i in results:
    print(i)

(22,)
(101,)
(103,)
(104,)
(107,)
(108,)
(109,)
(119,)

In [47]:
results=cur.execute("select id from em")

results.fetchall()

[(22,), (101,), (103,), (104,), (107,), (108,), (109,), (119,)]

In [49]:
results=cur.execute("select name from em")

for i in results:
    print(i)

('John',)
('Dorsay',)
('Swapnil',)
('Sushil',)
('Sanket',)
('Sayali',)
('Sanjay',)
('Sonya',)

In [50]:
results=cur.execute("select name from em")

results.fetchall()

[('John',),
 ('Dorsay',),
 ('Swapnil',),
 ('Sushil',),
 ('Sanket',),
 ('Sayali',),
 ('Sanjay',),
 ('Sonya',)]

In [51]:
results=cur.execute("select id,name from em")

results.fetchall()

[(101, 'John'),
 (103, 'Dorsay'),
 (104, 'Swapnil'),
 (107, 'Sushil'),
 (108, 'Sanket'),
 (109, 'Sayali'),
 (22, 'Sanjay'),
 (119, 'Sonya')]

In [52]:
results=cur.execute("select name,marks from em")

results.fetchall()

[('John', 80),
 ('Dorsay', 55),
 ('Swapnil', 78),
 ('Sushil', 73),
 ('Sanket', 79),
 ('Sayali', 88),
 ('Sanjay', 59),
 ('Sonya', 69)]

In [53]:
results=cur.execute("select id,name,marks from em")

results.fetchall()

[(101, 'John', 80),
 (103, 'Dorsay', 55),
 (104, 'Swapnil', 78),
 (107, 'Sushil', 73),
 (108, 'Sanket', 79),
 (109, 'Sayali', 88),
 (22, 'Sanjay', 59),
 (119, 'Sonya', 69)]

In [54]:
results=cur.execute("select * from em")

results.fetchall()

[(101, 'John', 80),
 (103, 'Dorsay', 55),
 (104, 'Swapnil', 78),
 (107, 'Sushil', 73),
 (108, 'Sanket', 79),
 (109, 'Sayali', 88),
 (22, 'Sanjay', 59),
 (119, 'Sonya', 69)]

In [55]:
results=cur.execute("select * from em where id=101")
for i in results:
    print(i)

(101, 'John', 80)

In [58]:
results=cur.execute("select * from em where id=101")

results.fetchone()

(101, 'John', 80)

In [57]:
results=cur.execute("select * from em where id=109")
for i in results:
    print(i)

(109, 'Sayali', 88)

In [59]:
results=cur.execute("select * from em where id=109")

results.fetchone()

(109, 'Sayali', 88)

In [61]:
results=cur.execute("select * from em where name='Dorsay'")
for i in results:
    print(i)

(103, 'Dorsay', 55)

In [62]:
results=cur.execute("select * from em where name='Dorsay'")

results.fetchone()

(103, 'Dorsay', 55)

In [64]:
results=cur.execute("select * from em where name='Swapnil'")
for i in results:
    print(i)

(104, 'Swapnil', 78)

In [65]:
results=cur.execute("select * from em where name='Swapnil'")

results.fetchone()

(104, 'Swapnil', 78)

In [66]:
results=cur.execute("select * from em where marks=78")
for i in results:
    print(i)

(104, 'Swapnil', 78)

In [67]:
results=cur.execute("select * from em where marks=55")

results.fetchone()

(103, 'Dorsay', 55)

In [68]:
results=cur.execute("select * from em where name in ('Swapnil','Dorsay')")
for i in results:
    print(i)

(103, 'Dorsay', 55)
(104, 'Swapnil', 78)

In [69]:
results=cur.execute("select * from em where id in (101,104,108)")
for i in results:
    print(i)

(101, 'John', 80)
(104, 'Swapnil', 78)
(108, 'Sanket', 79)

In [70]:
results=cur.execute("select * from em")
for i in results:
    print(i)

(101, 'John', 80)
(103, 'Dorsay', 55)
(104, 'Swapnil', 78)
(107, 'Sushil', 73)
(108, 'Sanket', 79)
(109, 'Sayali', 88)
(22, 'Sanjay', 59)
(119, 'Sonya', 69)

In [72]:
results=cur.execute("select * from em order by name asc")
for i in results:
    print(i)

(103, 'Dorsay', 55)
(101, 'John', 80)
(22, 'Sanjay', 59)
(108, 'Sanket', 79)
(109, 'Sayali', 88)
(119, 'Sonya', 69)
(107, 'Sushil', 73)
(104, 'Swapnil', 78)

In [73]:
results=cur.execute("select * from em order by name desc")
for i in results:
    print(i)

(104, 'Swapnil', 78)
(107, 'Sushil', 73)
(119, 'Sonya', 69)
(109, 'Sayali', 88)
(108, 'Sanket', 79)
(22, 'Sanjay', 59)
(101, 'John', 80)
(103, 'Dorsay', 55)

In [41]:
cur.execute("insert into em values(107,'Sushil',73),(108,'Sanket',79),(109,'Sayali',88)")
db.commit()

IntegrityError: UNIQUE constraint failed: em.id

In [42]:
cur.execute("insert into em values(107,'Sushil',73),(108,'Sanket',79),(109,'Sayali',88)")
db.commit()

IntegrityError: UNIQUE constraint failed: em.id

In [4]:
cur.execute("insert into emp(id,name,marks) values(106,'Sarthak',86)")

db.commit()

NameError: name 'cur' is not defined

In [3]:
cur.execute("insert into emp(id,name,marks) values(105,'Elon',76)")

db.commit()

NameError: name 'cur' is not defined

In [15]:
cur.execute("insert into emp(id,name,marks) values(102,'Jack',75)")

db.commit()

IntegrityError: UNIQUE constraint failed: emp.id