In [1]:
import sqlite3

In [2]:
db= sqlite3.connect('resultdata.db')

In [3]:
cur= db.cursor()

In [4]:
cur.execute('create table grdinfo(grade text primary key, remark text, marks text)')

In [5]:
with open('GRADE-INFO.csv', 'r') as file:
    records=0
    for row in file:
        cur.execute('insert into grdinfo values(?,?,?)', row.split(','))
        db.commit()
        records+=1
print(records)

7

In [6]:
cur.execute('create table std(grade text primary key, rollno int, name text, foreign key(grade) references grdinfo(grade))')

In [7]:
with open('NAUGHTYSTD.csv', 'r') as file:
    records=0
    for row in file:
        cur.execute('insert into std values(?,?,?)', row.split(','))
        db.commit()
        records+=1
print(records)

5

In [8]:
result= cur.execute('select * from std where grade=(select grade from grdinfo where remark="VERY GOOD")')
result.fetchall()

[('A+', 22, 'ARYAN SANTOSH SHITOLE\n')]

In [11]:
result= cur.execute('select * from std where grade=(select grade from grdinfo where marks="80+\n")')
result.fetchall()

[('A', 1, 'AARVI VIKRAM PATIL\n')]

In [10]:
result = cur.execute('select * from grdinfo')
result.fetchall()

[('A+', 'VERY GOOD', '90+\n'),
 ('A', 'GOOD', '80+\n'),
 ('B+', 'AVERAGE', '70+\n'),
 ('B', 'OKAY', '60+\n'),
 ('C+', 'NOT BAD', '70+\n'),
 ('C', 'BAD', '50+\n'),
 ('ABS', 'ABSENT', '0\n')]

In [12]:
# ineer join

join='select grdinfo.grade, grdinfo.remark, std.rollno, std.name from grdinfo inner join std on grdinfo.grade=std.grade'
result=cur.execute(join)
result.fetchall()

[('A+', 'VERY GOOD', 22, 'ARYAN SANTOSH SHITOLE\n'),
 ('A', 'GOOD', 1, 'AARVI VIKRAM PATIL\n'),
 ('B+', 'AVERAGE', 11, 'MYRA AFJAL PATHAN\n'),
 ('C+', 'NOT BAD', 14, 'LAXMAN RAMDAS ATHAVLE\n'),
 ('ABS', 'ABSENT', 13, 'RIDDHI SACHIN DHAGE\n')]

In [13]:
result=cur.execute('select grdinfo.grade, grdinfo.remark, std.rollno, std.name from grdinfo inner join std on grdinfo.grade=std.grade')
result.fetchall()

[('A+', 'VERY GOOD', 22, 'ARYAN SANTOSH SHITOLE\n'),
 ('A', 'GOOD', 1, 'AARVI VIKRAM PATIL\n'),
 ('B+', 'AVERAGE', 11, 'MYRA AFJAL PATHAN\n'),
 ('C+', 'NOT BAD', 14, 'LAXMAN RAMDAS ATHAVLE\n'),
 ('ABS', 'ABSENT', 13, 'RIDDHI SACHIN DHAGE\n')]

In [16]:
result=cur.execute('select grdinfo.grade, grdinfo.remark, std.rollno, std.name from grdinfo inner join std on grdinfo.grade=std.grade')

result.fetchall()

[('A+', 'VERY GOOD', 22, 'ARYAN SANTOSH SHITOLE\n'),
 ('A', 'GOOD', 1, 'AARVI VIKRAM PATIL\n'),
 ('B+', 'AVERAGE', 11, 'MYRA AFJAL PATHAN\n'),
 ('C+', 'NOT BAD', 14, 'LAXMAN RAMDAS ATHAVLE\n'),
 ('ABS', 'ABSENT', 13, 'RIDDHI SACHIN DHAGE\n')]

In [17]:
join='select grdinfo.grade, grdinfo.remark, std.rollno, std.name from grdinfo inner join std on grdinfo.grade=std.grade'
print(join)

select grdinfo.grade, grdinfo.remark, std.rollno, std.name from grdinfo inner join std on grdinfo.grade=std.grade

In [18]:
#left join

join='select grdinfo.grade, grdinfo.remark, std.rollno, std.name from grdinfo left join std on grdinfo.grade=std.grade'
result= cur.execute(join)
result.fetchall()

[('A+', 'VERY GOOD', 22, 'ARYAN SANTOSH SHITOLE\n'),
 ('A', 'GOOD', 1, 'AARVI VIKRAM PATIL\n'),
 ('B+', 'AVERAGE', 11, 'MYRA AFJAL PATHAN\n'),
 ('B', 'OKAY', None, None),
 ('C+', 'NOT BAD', 14, 'LAXMAN RAMDAS ATHAVLE\n'),
 ('C', 'BAD', None, None),
 ('ABS', 'ABSENT', 13, 'RIDDHI SACHIN DHAGE\n')]

In [19]:
cur.execute('create table if not exists table1(id int primary key,name text)')

In [20]:
cur.execute('create table if not exists std(id int primary key,name text)')

In [24]:
cur.execute('drop table std')

In [25]:
result=cur.execute('select * from std')
result.fetchall()

OperationalError: no such table: std

In [26]:
cur.execute('create table if not exists std(grade text primary key, rollno int, name text, foreign key(grade) references grdinfo(grade))');

In [27]:
cur.execute('create table if not exists std(grade text primary key, rollno int, name text, foreign key(grade) references grdinfo(grade))');

In [28]:
cur.execute('create table if not exists std(grade text primary key, rollno int, name text, foreign key(grade) references grdinfo(grade))');

In [30]:
cur.execute('drop table std');

In [31]:
result=cur.execute('select * from std')
result.fetchall()

OperationalError: no such table: std

In [33]:
cur.execute('create table std(grade text primary key, rollno int, name text, foreign key(grade) references grdinfo(grade))')

In [34]:
cur.execute('create table if not exists std(grade text primary key, rollno int, name text, foreign key(grade) references grdinfo(grade))');

In [35]:
cur.execute('create table if not exists s1(grade text primary key, rollno int, name text, foreign key(grade) references grdinfo(grade))');

In [36]:
cur.execute('ALTER TABLE s1 RENAME TO s2');

In [39]:
cur.execute('ALTER TABLE s2 DROP COLUMN rollno')