In [7]:
import sqlite3

Create database

In [18]:
db=sqlite3.connect('stud_detail_dabase21Aug.db')

Create cursor

In [19]:
cur=db.cursor()

In [20]:
cur.execute('create table stud(id int primary key,name text,marks int)')

In [32]:
cur.execute('insert into stud(id,name,marks) values(101,"sarthak",80)')

IntegrityError: UNIQUE constraint failed: stud.id

In [34]:
del db

In [ ]:
]