In [1]:
import sqlite3

In [2]:
dss= sqlite3.connect("datascince_salary_2020.db")

In [3]:
cur=dss.cursor()

In [4]:
cur.execute("create table data_scientist(exp_level text,sal_usd int,comp_size text)")

In [5]:
cur.execute("insert into data_scientist(exp_level,sal_usd,comp_size) values('MI',79833,'L')")

In [6]:
cur.execute("insert into data_scientist values('MI',35735,'L')")

In [7]:
cur.execute("insert into data_scientist values('EN',51321,'S'),('MI',40481,'L'),('EN',39916,'M'),('SE',68428,'L'),('MI',45760,'S'),('MI',76958,'S'),('MI',105000,'L'),('MI',38776,'M'),('MI',118000,'M'),('SE',120000,'L'),('MI',138350,'M'),('EN',21669,'M'),('EN',62726,'S'),('EN',49268,'S'),('EN',105000,'S'),('SE',91237,'S'),('MI',62726,'S'),('MI',42197,'S'),('SE',53192,'L'),('EN',29751,'L'),('MI',73000,'L'),('MI',50000,'L'),('MI',9466,'S'),('EN',49646,'M')")

In [8]:
dss.commit()

In [9]:
d_sci=cur.execute("select * from data_scientist")

for i in d_sci:
    print(i)

('MI', 79833, 'L')
('MI', 35735, 'L')
('EN', 51321, 'S')
('MI', 40481, 'L')
('EN', 39916, 'M')
('SE', 68428, 'L')
('MI', 45760, 'S')
('MI', 76958, 'S')
('MI', 105000, 'L')
('MI', 38776, 'M')
('MI', 118000, 'M')
('SE', 120000, 'L')
('MI', 138350, 'M')
('EN', 21669, 'M')
('EN', 62726, 'S')
('EN', 49268, 'S')
('EN', 105000, 'S')
('SE', 91237, 'S')
('MI', 62726, 'S')
('MI', 42197, 'S')
('SE', 53192, 'L')
('EN', 29751, 'L')
('MI', 73000, 'L')
('MI', 50000, 'L')
('MI', 9466, 'S')
('EN', 49646, 'M')

In [10]:
cur.execute("create table ml_scientist(exp_level text,sal_usd int,comp_size text)")

In [11]:
cur.execute("insert into ml_scientist(exp_level,sal_usd,comp_size) values('SE',260000,'S')")

In [12]:
cur.execute("insert into ml_scientist values('EN',22500,'L'),('SE',120000,'S'),('MI',12000,'M'),('SE',225000,'L'),('MI',160000,'L'),('MI',112300,'L'),('MI',153000,'M')")

In [13]:
dss.commit()

In [14]:
ml_sci=cur.execute("select * from ml_scientist")

for i in ml_sci:
    print(i)

('SE', 260000, 'S')
('EN', 22500, 'L')
('SE', 120000, 'S')
('MI', 12000, 'M')
('SE', 225000, 'L')
('MI', 160000, 'L')
('MI', 112300, 'L')
('MI', 153000, 'M')

In [20]:
d_sci=cur.execute("select * from data_scientist order by sal_usd asc")

for i in d_sci:
    print(i)

('MI', 9466, 'S')
('EN', 21669, 'M')
('EN', 29751, 'L')
('MI', 35735, 'L')
('MI', 38776, 'M')
('EN', 39916, 'M')
('MI', 40481, 'L')
('MI', 42197, 'S')
('MI', 45760, 'S')
('EN', 49268, 'S')
('EN', 49646, 'M')
('MI', 50000, 'L')
('EN', 51321, 'S')
('SE', 53192, 'L')
('EN', 62726, 'S')
('MI', 62726, 'S')
('SE', 68428, 'L')
('MI', 73000, 'L')
('MI', 76958, 'S')
('MI', 79833, 'L')
('SE', 91237, 'S')
('MI', 105000, 'L')
('EN', 105000, 'S')
('MI', 118000, 'M')
('SE', 120000, 'L')
('MI', 138350, 'M')

In [21]:
d_sci=cur.execute("select * from data_scientist order by sal_usd asc")

d_sci.fetchall()

[('MI', 9466, 'S'),
 ('EN', 21669, 'M'),
 ('EN', 29751, 'L'),
 ('MI', 35735, 'L'),
 ('MI', 38776, 'M'),
 ('EN', 39916, 'M'),
 ('MI', 40481, 'L'),
 ('MI', 42197, 'S'),
 ('MI', 45760, 'S'),
 ('EN', 49268, 'S'),
 ('EN', 49646, 'M'),
 ('MI', 50000, 'L'),
 ('EN', 51321, 'S'),
 ('SE', 53192, 'L'),
 ('EN', 62726, 'S'),
 ('MI', 62726, 'S'),
 ('SE', 68428, 'L'),
 ('MI', 73000, 'L'),
 ('MI', 76958, 'S'),
 ('MI', 79833, 'L'),
 ('SE', 91237, 'S'),
 ('MI', 105000, 'L'),
 ('EN', 105000, 'S'),
 ('MI', 118000, 'M'),
 ('SE', 120000, 'L'),
 ('MI', 138350, 'M')]

In [23]:
d_sci=cur.execute("select * from data_scientist where sal_usd >= 50000")

for i in d_sci:
    print(i)

('MI', 79833, 'L')
('EN', 51321, 'S')
('SE', 68428, 'L')
('MI', 76958, 'S')
('MI', 105000, 'L')
('MI', 118000, 'M')
('SE', 120000, 'L')
('MI', 138350, 'M')
('EN', 62726, 'S')
('EN', 105000, 'S')
('SE', 91237, 'S')
('MI', 62726, 'S')
('SE', 53192, 'L')
('MI', 73000, 'L')
('MI', 50000, 'L')

In [24]:
d_sci=cur.execute("select * from data_scientist where sal_usd <= 50000")

for i in d_sci:
    print(i)

('MI', 35735, 'L')
('MI', 40481, 'L')
('EN', 39916, 'M')
('MI', 45760, 'S')
('MI', 38776, 'M')
('EN', 21669, 'M')
('EN', 49268, 'S')
('MI', 42197, 'S')
('EN', 29751, 'L')
('MI', 50000, 'L')
('MI', 9466, 'S')
('EN', 49646, 'M')

In [25]:
d_sci=cur.execute("select comp_size from data_scientist")

for i in d_sci:
    print(i)

('L',)
('L',)
('S',)
('L',)
('M',)
('L',)
('S',)
('S',)
('L',)
('M',)
('M',)
('L',)
('M',)
('M',)
('S',)
('S',)
('S',)
('S',)
('S',)
('S',)
('L',)
('L',)
('L',)
('L',)
('S',)
('M',)

In [26]:
d_sci=cur.execute("select comp_size,sal_usd from data_scientist")

for i in d_sci:
    print(i)

('L', 79833)
('L', 35735)
('S', 51321)
('L', 40481)
('M', 39916)
('L', 68428)
('S', 45760)
('S', 76958)
('L', 105000)
('M', 38776)
('M', 118000)
('L', 120000)
('M', 138350)
('M', 21669)
('S', 62726)
('S', 49268)
('S', 105000)
('S', 91237)
('S', 62726)
('S', 42197)
('L', 53192)
('L', 29751)
('L', 73000)
('L', 50000)
('S', 9466)
('M', 49646)

In [27]:
d_sci=cur.execute("select * from data_scientist where sal_usd in (118000,105000)")

for i in d_sci:
    print(i)

('MI', 105000, 'L')
('MI', 118000, 'M')
('EN', 105000, 'S')

In [29]:
d_sci=cur.execute("select * from data_scientist where sal_usd= 118000")

for i in d_sci:
    print(i)

('MI', 118000, 'M')

In [30]:
d_sci=cur.execute("select exp_level from data_scientist")

for i in d_sci:
    print(i)

('MI',)
('MI',)
('EN',)
('MI',)
('EN',)
('SE',)
('MI',)
('MI',)
('MI',)
('MI',)
('MI',)
('SE',)
('MI',)
('EN',)
('EN',)
('EN',)
('EN',)
('SE',)
('MI',)
('MI',)
('SE',)
('EN',)
('MI',)
('MI',)
('MI',)
('EN',)