In [1]:
#imported sqlite3 module
import sqlite3

In [2]:
#created databse
db = sqlite3.connect('term1_result.db')

In [3]:
#created cursor
cur = db.cursor()

In [6]:
#saved changes
db.commit()

In [7]:
#created table gradedetails
cur.execute('create table gradedetails(grade text primary key, remark text, marks text)')

In [8]:
#mathematics
cur.execute('create table mathematics(rollno int primary key, name text, grade text, foreign key(grade) references gradeinfo(grade))')

In [9]:
#english
cur.execute('create table english(rollno int primary key, name text, grade text, foreign key(grade) references gradeinfo(grade))')

In [10]:
#gk
cur.execute('create table gk(rollno int primary key, name text, grade text, foreign key(grade) references gradeinfo(grade))')

In [12]:
#dr
cur.execute('create table dr(rollno int primary key, name text, grade text, foreign key (grade) references gradeinfo(grade))')

In [14]:
#inserted csv file in gradedetails table
with open('GRADE-INFO.csv', 'r') as file:
    records=0
    for i in file:
        cur.execute('insert into gradedetails values(?,?,?)',i.split(','))
        db.commit()
        records+=1

print(records,'rows inserted in gradedetails')

7 rows inserted in gradedetails

In [15]:
#inserted csv file in mathematics table
with open('MATHS-OCT-T1-NURSERY-22-23-SARHAD.csv', 'r') as file:
    records=0
    for i in file:
        cur.execute('insert into mathematics values(?,?,?)',i.split(','))
        db.commit()
        records+=1

print(records,'rows inserted in mathematics')

31 rows inserted in mathematics

In [16]:
with open('ENG-OCT-11-NURSERY-22-23-SARHAD.csv', 'r') as file:
    records=0
    for i in file:
        cur.execute('insert into english values(?,?,?)',i.split(','))
        db.commit()
        records+=1

print(records,'rows inserted in english')

31 rows inserted in english

In [17]:
with open('GK-OCT-11-NURSERY-22-23-SARHAD.csv', 'r') as file:
    records=0
    for i in file:
        cur.execute('insert into gk values(?,?,?)',i.split(','))
        db.commit()
        records+=1

print(records,'rows inserted in gk')

31 rows inserted in gk

In [18]:
with open('DR-OCT-T1-NURSERY-22-23-SARHAD.csv', 'r') as file:
    records=0
    for i in file:
        cur.execute('insert into dr values(?,?,?)',i.split(','))
        db.commit()
        records+=1

print(records,'rows inserted in dr')

31 rows inserted in dr

In [19]:
db.commit()

In [24]:
result = cur.execute("select * from mathematics where grade=(select grade from gradedetails where remark='VERY GOOD')")
result.fetchall()

[]

In [28]:
result = cur.execute('select grade from gradedetails where remark="VERY GOOD"')
result.fetchall()

[('A+',)]

In [30]:
result = cur.execute('select * from gk where rollno=12')
result.fetchall()

[(12, 'NIRVI RAKESH SHINDE', 'B+\n')]

In [31]:
result = cur.execute('select grade from gk where rollno=12')
result.fetchall()

[('B+\n',)]

In [32]:
result = cur.execute('select grade from gk')
result.fetchall()

[('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('B+\n',),
 ('B+\n',),
 ('ABS\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('B+\n',),
 ('A\n',),
 ('A\n',),
 ('ABS\n',),
 ('B+\n',),
 ('A\n',),
 ('B+\n',),
 ('B+\n',),
 ('A\n',),
 ('ABS\n',)]

In [33]:
result = cur.execute('select grade from gk where grade="A\n"')
result.fetchall()

[('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',),
 ('A\n',)]

In [34]:
result = cur.execute('select grade from gradedetails')
result.fetchall()

[('A',), ('A+',), ('ABS',), ('B',), ('B+',), ('C',), ('C+',)]

In [35]:
cur.execute('create table gkupdated(rollno int primary key, grade text, name text, foreign key(grade) references gradeinfo(grade))')

In [36]:
with open('GKUPDATED.csv', 'r') as file:
    records=0
    for i in file:
        cur.execute('insert into gkupdated values(?,?,?)',i.split(','))
        db.commit()
        records+=1

print(records,'rows inserted in gkupdated')

31 rows inserted in gkupdated

In [40]:
result = cur.execute("select grade from gradedetails where grade=(select grade from gradedetails where remark='VERY GOOD')")
result.fetchall()

[('A+',)]

In [38]:
result = cur.execute("select * from gkupdated")
result.fetchall()

[(1, 'A', 'AARVI VIKRAM PATIL\n'),
 (2, 'A', 'AVANI AMOL KADAM\n'),
 (3, 'A', 'AYANA AZHARUDDIN SHAIKH\n'),
 (4, 'A', 'DIKSHA NAGESH HAJARE\n'),
 (5, 'A', 'DISHA SHRIKANT TAVARE\n'),
 (6, 'A', 'HERUMBI ROHIT BAJJA\n'),
 (7, 'A', 'IRA SHARAD KATWATE\n'),
 (8, 'A', 'KAAVYA DATTAPRASAD BIRADAR\n'),
 (9, 'A', 'KARTIKI ROHIT KADAM\n'),
 (10, 'A', 'KASHVI SURESH JAYBHAY\n'),
 (11, 'B+', 'MYRA AFJAL PATHAN\n'),
 (12, 'B+', 'NIRVI RAKESH SHINDE\n'),
 (13, 'ABS', 'RIDDHI SACHIN DHAGE\n'),
 (14, 'A', 'SAKSHI ASHISH PATIL\n'),
 (15, 'A', 'SEJAL SANKET SHITOLE\n'),
 (16, 'A', 'SWARA ASHISH PATIL\n'),
 (17, 'A', 'SWARALI SAGAR SHETE\n'),
 (18, 'A', 'ANISH SANKET SALUNKHE\n'),
 (19, 'A', 'RAJVEER YOGESH TAPARE\n'),
 (20, 'A', 'RIYANSH SAGAR THORAT\n'),
 (21, 'A', 'RUDRA RAJENDRA DALAVI\n'),
 (22, 'B+', 'RUDRA SHIVSHANKAR RAJBHAR\n'),
 (23, 'A', 'SHIVAM VAIBHAV KAMBLE\n'),
 (24, 'A', 'SHIVANSH NIKESH BERADE\n'),
 (25, 'ABS', 'SHIVANSH SACHIN SHELAR\n'),
 (26, 'B+', 'SHIVANSH SURAJ YADAV\n'),
 (27, 'A', 'SWARUP SWAPNIL NIMBALKAR\n'),
 (28, 'B+', 'SWARUP TUSHAR PILANE\n'),
 (29, 'B+', 'SWAYAM SWAPNIL NIMBALKAR\n'),
 (30, 'A', 'VED MAHESH KSHIRSAGAR\n'),
 (31, 'ABS', 'VEDANT ROHAN SHIVATARE\n')]

In [42]:
cur.execute('create table gklatest(grade text primary key,rollno int, name text, foreign key(grade) references gradedetails(grade))')

In [51]:
cur.execute('create table naughtystd(grade text primary key,rollno int, name text, foreign key(grade) references gradedetails(grade))')

In [52]:
with open('NAUGHTYSTD.csv','r') as file:
    records=0
    for i in file:
        cur.execute('insert into naughtystd values(?,?,?)',i.split(','))
        records+=1

print(records,'rows inserted in naughtystd')

5 rows inserted in naughtystd

In [54]:
result = cur.execute('select * from naughtystd where grade=(select grade from gradedetails where remark="VERY GOOD")')

In [56]:
result.fetchall()

[('A+', 22, 'ARYAN SANTOSH SHITOLE\n')]

In [58]:
join = 'select naughtystd.rollno, naughtystd.name, gradedetails.grade, gradedetails.remark from naughtystd inner join gradedetails on naughtystd.grade = gradedetails.grade'
result = cur.execute(join)

for i in result:
    print(i)

(1, 'AARVI VIKRAM PATIL\n', 'A', 'GOOD')
(11, 'MYRA AFJAL PATHAN\n', 'B+', 'AVERAGE')
(13, 'RIDDHI SACHIN DHAGE\n', 'ABS', 'ABSENT')
(22, 'ARYAN SANTOSH SHITOLE\n', 'A+', 'VERY GOOD')
(14, 'LAXMAN RAMDAS ATHAVLE\n', 'C+', 'NOT BAD')

In [59]:
join = 'select naughtystd.rollno, naughtystd.name, gradedetails.grade, gradedetails.remark from naughtystd left join gradedetails on naughtystd.grade = gradedetails.grade'
result = cur.execute(join)

for i in result:
    print(i)

(1, 'AARVI VIKRAM PATIL\n', 'A', 'GOOD')
(11, 'MYRA AFJAL PATHAN\n', 'B+', 'AVERAGE')
(13, 'RIDDHI SACHIN DHAGE\n', 'ABS', 'ABSENT')
(22, 'ARYAN SANTOSH SHITOLE\n', 'A+', 'VERY GOOD')
(14, 'LAXMAN RAMDAS ATHAVLE\n', 'C+', 'NOT BAD')

In [60]:
db.commit()

In [ ]:
join = 'select naughtystd.rollno, naughtystd.name, gradedetails.grade, gradedetails.remark from naughtystd left join gradedetails on naughtystd.grade = gradedetails.grade'
result = cur.execute(join)

for i in result:
    print(i)